ion-content{
    --ion-background-color:#FFFFFF;
}

.list{
    background-color:#FFFFFF;    
}

.top{
    font-size: large;
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    font-weight: normal;
    color: white;
}

.title{
    font-size: large;
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    font-weight: normal;
    color: black;
}

.subtitle{
    font-size: medium;
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    font-weight: normal;
    color: black;

}

.instructions{
    font-size: medium;
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    font-weight: normal;
    color: black;

}