<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="top">my recipes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-loading trigger="open-loading" [duration]="5000" spinner="circles"></ion-loading>
  <ion-list class="list">
    <ion-card *ngFor="let item of lists" class="list">
      <img alt="Silhouette of mountains" [src] = "item?.imageUrl" />
      <ion-card-header class="list">
        <ion-card-title class="title">{{item?.recipe_name}}</ion-card-title>
        <ion-card-subtitle class="subtitle">{{item?.extra_ingredients}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="instructions">
        {{item?.recipe_instructions}}
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
